$green: #4cd964;
$blue: #6B86FF;
$red: #FF119F;
$yellow: #FFEA74;
$purple: #D511FF;

$meta-text: #333;

.modalOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 30px 0;
  background-color: rgba(255,255,255,0.99);
  display: flex;
  overflow-y: scroll;
  z-index: 3;
  justify-content: center;
}

.modal {
  margin: 15px;
  padding: 15px 25px;
  border-radius: 10px;
  position: relative;
  background: white;
  width: auto;
  z-index: 4;
  display: block;
}

.button {
  border: none;
  border-radius: 0;
  border-right: 1px solid #ccc;
  font-weight: 300;
  font-size: 15px;
  padding: 0px 20px;
  background: transparent;

  &:hover {
    background: transparent;
  }

  &:last-child {
    border-right: none;
    font-weight: 400;
  }
}

body {
  background-color: white;
}
