/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

@font-face {
  font-family: 'Vollkorn';
  src: url("../../static/fonts/Vollkorn/Vollkorn-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Futura Condensed Bold';
  src: url("../../static/fonts/Futura Condensed Bold.otf") format('opentype');
}

@font-face {
  font-family: 'Avenir Next Regular';
  src: url("../../static/fonts/AvenirNext/AvenirNextLTPro-Regular.otf") format('opentype');
}

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
$font-family-serif: "Vollkorn";
