.address {
  padding: 16px 50px;
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 5px;
}

.marker {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 0;
  font-family: 'Futura Condensed Bold';
}