@import '../theme/base.scss';

// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 100%;
//   width: 100%;
// }

.loginContainer {
  width: 450px;
  height: 450px;
  position: relative;
}

.title {
  font-family: 'Futura Condensed Bold';
  font-size: 75px;
}

.registerContainer {
  @extend .loginContainer;
  max-height: 100%;
}
