.container {
  overflow-y: scroll;
}

.accountType {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & div:first-child {
    label {
      border-radius: 3px 0 0 3px;
    }
  }

  & div:last-child {
    label {
      border-radius: 0px 3px 3px 0px;
    }
  }
}