.sidebarContainer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.containerHide {
  display: none;
}

.contentContainer {
  margin-left: 250px;
  padding: 45px 30px;
  background-color: white;
  min-height: 100vh;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
