.button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 51px;
  width: 227;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.buttonSmall {
  @extend .button;
  padding: 2px 5px;
}

.btn {
  @extend .button;
  display: initial;
}

.btnSmall {
  @extend .buttonSmall;
  display: initial;
}
